# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# [homing_override]
# gcode:
# axes: xyz
# set_position_x: 0
# set_position_y: 0
# set_position_z: 0

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

# [bltouch]
# sensor_pin: PC14
# control_pin: PA1
# x_offset: -40
# y_offset: -10
# z_offset: 3.0
# #speed:

[safe_z_home]
home_xy_position: 110,115
speed: 50
z_hop: 5
z_hop_speed: 5

[probe]
pin: ^PC15
x_offset: 24
y_offset: 5
z_offset: 1.1
speed: 10

[bed_mesh]
speed: 100
mesh_min: 35, 6
mesh_max: 240,198
probe_count: 3,3
mesh_pps: 2,2
algorithm: lagrange

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 220
homing_speed: 50

[tmc2209 stepper_x]
diag_pin: ^PC0
driver_SGTHRS: 90
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.8
hold_current: 0.7
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 32
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 0
position_max: 250
homing_speed: 50

[tmc2209 stepper_y]
diag_pin: ^PC1
driver_SGTHRS: 100
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.8
hold_current: 0.7
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.9
hold_current: 0.7
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PC7
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC6

[fan]
pin: PB15

# [mcu ramps]
# serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0

# [adxl345]
# cs_pin: ramps:PK4

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     110, 115, 10

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_120047001750344D30363620-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 6000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE
    
[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(50)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(195)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    G90
    SET_GCODE_OFFSET Z=0.0
    G28
    G29
    G1 X0 Y0 Z2 F3000.0 ; go outside print area
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}
    G92 E0.0
    G1 X0.0 Z0.3 E5.0 F1000.0 ; intro line
    G1 X100.0 Z0.2 E8.5 F1000.0 ; intro line
    G92 E0.0

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 E-3 F300
    # Raise nozzle by 10mm
    G90
    G28 X0 Y230
    # Disable steppers
    M84

[input_shaper]
shaper_freq_x: 58.4
shaper_type_x: ei
shaper_freq_y: 45.4
shaper_type_y: mzv

# x
# Fitted shaper 'zv' frequency = 63.4 Hz (vibrations = 16.1%, smoothing ~= 0.045)
# To avoid too much smoothing with 'zv', suggested max_accel <= 15700 mm/sec^2
# Fitted shaper 'mzv' frequency = 40.4 Hz (vibrations = 1.5%, smoothing ~= 0.125)
# To avoid too much smoothing with 'mzv', suggested max_accel <= 4800 mm/sec^2
# Fitted shaper 'ei' frequency = 58.4 Hz (vibrations = 2.4%, smoothing ~= 0.094)
# To avoid too much smoothing with 'ei', suggested max_accel <= 6400 mm/sec^2
# Fitted shaper '2hump_ei' frequency = 59.8 Hz (vibrations = 0.0%, smoothing ~= 0.151)
# To avoid too much smoothing with '2hump_ei', suggested max_accel <= 4000 mm/sec^2
# Fitted shaper '3hump_ei' frequency = 73.4 Hz (vibrations = 0.0%, smoothing ~= 0.152)
# To avoid too much smoothing with '3hump_ei', suggested max_accel <= 3900 mm/sec^2
# Recommended shaper is ei @ 58.4 Hz


# y 
# Fitted shaper 'zv' frequency = 49.8 Hz (vibrations = 10.4%, smoothing ~= 0.068)
# To avoid too much smoothing with 'zv', suggested max_accel <= 9700 mm/sec^2
# Fitted shaper 'mzv' frequency = 45.4 Hz (vibrations = 1.3%, smoothing ~= 0.099)
# To avoid too much smoothing with 'mzv', suggested max_accel <= 6100 mm/sec^2
# Fitted shaper 'ei' frequency = 53.4 Hz (vibrations = 0.2%, smoothing ~= 0.113)
# To avoid too much smoothing with 'ei', suggested max_accel <= 5300 mm/sec^2
# Fitted shaper '2hump_ei' frequency = 65.8 Hz (vibrations = 0.0%, smoothing ~= 0.125)
# To avoid too much smoothing with '2hump_ei', suggested max_accel <= 4800 mm/sec^2
# Fitted shaper '3hump_ei' frequency = 81.0 Hz (vibrations = 0.0%, smoothing ~= 0.125)
# To avoid too much smoothing with '3hump_ei', suggested max_accel <= 4800 mm/sec^2
# Recommended shaper is mzv @ 45.4 Hz


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.150
#*# pid_ki = 0.703
#*# pid_kd = 1004.526
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.815
#*# pid_ki = 0.925
#*# pid_kd = 117.085
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.192500, 0.020000, -0.107500
#*# 	  0.142500, 0.027500, -0.075000
#*# 	  0.152500, 0.065000, -0.007500
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 6.0
#*# x_count = 3
#*# max_y = 198.0
#*# mesh_x_pps = 2
#*# max_x = 240.0
